.banner {
  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  padding: 200px 0;
  color: white;
}

.banner h1 {
  font-size: 40px;
}

.banner p {
  font-size: 20px;
  color:aliceblue;
  opacity: 0.8;
}
